@model List<CheckApiWeb.Models.cart>
@{
    Layout = "_Layout2";
}
<div class=master-wrapper-content>
    <div class=master-column-wrapper>
        <div class=center-1>
            <div class="page shopping-cart-page">
                <div class=page-title>
                    <h1>Giỏ hàng</h1>
                </div>
                <div class=page-body>
                    <div class=order-summary-content>
                        <form method=post enctype=multipart/form-data id=shopping-cart-form action=Edit>
                            <div class=table-wrapper>
                                <table class=cart>
                                    <colgroup>
                                        <col width=1>
                                        <col width=1>
                                        <col width=1>
                                        <col>
                                        <col width=1>
                                        <col width=1>
                                        <col width=1>
                                    <thead>
                                        <tr>
                                            <th class=remove-from-cart>Xóa
                                            <th class=sku>SKU
                                            <th class=product-picture>Hình ảnh
                                            <th class=product>Các sản phẩm)
                                            <th class=unit-price>Giá bán
                                            <th class=quantity>Số lượng.
                                            <th class=subtotal>
                                                Toàn bộ
                                    <tbody>
                                        @foreach(var item in Model){                                
                                              <tr>
                                            <td class=remove-from-cart>
                                                <label class=td-title for=removefromcart42265>Xóa:</label>
                                                <input type=checkbox name=removefromcart id=removefromcart42265 value=@item.Masp aria-label=Xóa>
                                            <td class=sku>
                                                <label class=td-title>SKU:</label>
                                                <span class=sku-number></span>
                                            <td class=product-picture>
                                                <a href="">
                                                        <img alt="" src="~/images/@item.images" title="@item.Tensp" width="50" height="50">
                                                </a>
                                            <td class=product>
                                                <a href="" class=product-name>@item.Tensp</a>
                                                <div class=message-error>
                                                    <ul>
                                                        <li>Còn Hàng
                                                    </ul>
                                                </div>
                                            <td class=unit-price>
                                                <label class=td-title>Giá bán:</label>
                                                <span class=product-unit-price>@item.Giaban</span>
                                            <td class=quantity>
                                                <label class=td-title for=itemquantity42265>Số lượng.:</label>
                                                <input name=itemquantity42265 id=itemquantity42265 type=text value=@item.Soluong class=qty-input aria-label="Số lượng.">
                                            <td class=subtotal>
                                                <label class=td-title>Toàn bộ:</label>
                                                <span class=product-subtotal>@item.TongTien</span>
                                       </tr>
                                       }
                                    </tbody>
                                  </tr>
                               </thead>
                             </colgroup>

                                </table>
                            </div>
                            <div class=cart-options>
                                <div class=common-buttons>
                                    <input type=submit name=updatecart value="Cập nhật giỏ hàng" class="button-2 update-cart-button">
                                    <input type=submit name=continueshopping value="Tiếp tục mua sắm" class="button-2 continue-shopping-button">
                                </div>
                                <div class=selected-checkout-attributes></div>
                            </div>
                            <div class=cart-footer>
                                <div class=cart-collaterals>
                                    <div class=deals></div>
                                </div>
                                <div class=totals>
                                    <div class=total-info>
                                        <table class=cart-total>
                                            <tbody>
                                                <tr class=order-subtotal>
                                                    <td class=cart-total-left>
                                                        <label>Thành tiền:</label>
                                                    </td>
                                                    <td class=cart-total-right>
                                                        <span class="value-summary">@ViewBag.TotalAmount</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class=checkout-buttons>
                                        <button type=submit id=checkout name=checkout value=checkout class="button-1 checkout-button">Đặt hàng </button>
                                    </div>
                                    <div class=addon-buttons></div>
                                </div>
                            </div>
                            <input name=__RequestVerificationToken type=hidden value=CfDJ8PZcOxBKyxpCsEnV5DZNEC2MJFB9PKluIivjweeB81Xvm1KVN4IJJ2Dsfh2bXzLHyEPcr03m4S1I_sW8pVYES7GAfToo4qirsBgnSL0XUvl4QQhvm_pp8k9D7PlhAJ7sSJw8UcfLKDWg7c_mvDkIkX8>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
